.main-header {
    position: relative;
    // position: fixed;
    

    .header-background {
        background-color: $clr6;
        border-bottom: solid 1px $clr4;
        height: em(80px);
        width: 100%;
        position: absolute;
        inset: 0;
        z-index: 4;
        transform: scaleY(1);
        transition: transform 250ms ease-in-out;

        &.open {
            height: 10rem;
        }
    }

    .header {
        height: em(80px);
        position: relative;
        z-index: 4;
        width: 100%;
        margin: auto;
    }

    .backdrop {
        background-color: rgba($clr3, 0.5);
        position: fixed;
        z-index: 2;
        top: em(140px);
        right: 0;
        width: 100%;
        height: 100%;
    }
}

:root {
    --animate-duration: 800ms;
    --animate-delay: 2000ms;
  }