.main-header {
    position: sticky;
    top: 0;
    background-color: $clr6;
    z-index: 2;

    .header-background {
        @include for-mobile-layout-list {
            display: none;
        }

        @include for-mobile-layout-list-min {
            display: block;
        }

        background-color: $clr6;
        border-bottom: solid 1px $clr4;
        height: em(80px);
        width: 100%;
        position: absolute;
        inset: 0;
        z-index: 4;
        transform: scaleY(1);
        transition: transform 250ms ease-in-out;

        &.open {
            height: 10rem;
        }
    }

    .header {
        @include for-mobile-layout-list {
            display: none;
        }

        @include for-mobile-layout-list-min {
            display: flex;
            height: em(80px);
            position: relative;
            z-index: 4;
            width: 100%;
            margin: auto;
        }
    }

    .header-mobile {
        @include for-mobile-layout-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 24px;
            height: 4rem;

            border-block-start: solid 1px $clr4;
            background-color: $clr6;
            // width: 100%;
            position: fixed;
            bottom: 0;
        }

        @include for-mobile-layout-list-min {
            display: none;
        }

        img {
            width: 2rem;
            object-fit: contain;
        }

        .logo span {
            display: none;
        }
    }

    .backdrop {
        background-color: rgba($clr3, 0.5);
        position: fixed;
        z-index: 2;
        top: em(140px);
        right: 0;
        width: 100%;
        height: 100%;
    }


}

:root {
    --animate-duration: 800ms;
    --animate-delay: 2000ms;
}