nav {
    justify-content: end;
    flex-grow: 0.7;
    position: relative;
    z-index: 3;



    @include for-extra-wide-layout {
        flex-grow: 1;
    }

    .links {
        justify-content: end;

        .link-add-stay {
            color: $clr2;
            font-size: rem(14px);
            font-family: airbnb_medium;
            padding: rem(12px) rem(15px);
            border-radius: 28px;
            width: max-content;

            &:hover {
                background-color: $clr5;
            }
        }

        @include for-mobile-layout {
            width: 0;
            height: 0;
            opacity: 0;
        }
    }


    .loggedin-user {
        width: fit-content;
        padding: 5px 5px 5px 12px;
        border-radius: 50px;
        border: solid 1px $clr4;
        box-shadow: none;
        transition: box-shadow ease-in 250ms;
        gap: 14px;

        &:hover {
            box-shadow: 0px 2px 3px 1px $clr4;
        }

        .ham {
            width: 12px;
            object-fit: contain;
        }

        .user {
            width: 2rem;
            object-fit: contain;
        }

        @include for-mobile-layout-list {
                position: sticky;
                bottom: 1rem;
                right: 1rem;
                background-color: $clr6;
        }

    }

    &.narrow {

        @include for-mobile-layout-list {
            .loggedin-user {
                position: sticky;
                bottom: 1rem;
                right: 1rem;
                background-color: $clr6;
            }

        }
    }

    .mini-menu {
        position: absolute;
        top: 3em;
        // transform: translateY(60%);

        width: 240px;
        // padding: 1rem;

        background-color: $clr6;
        border-radius: em(10px);
        box-shadow: 0px 0px 8px -1px $clr4;

        >a {
            font-size: rem(14px);
            font-family: airbnb_book;
            color: $clr2;
            margin: 16px;
            display: block;
        }

        .guest-options,
        .host-options {

            border-bottom: 1px solid $clr4;

            a {
                font-family: airbnb_medium;
                font-size: rem(15px);
                display: block;
                margin: 17px;
            }
        }

        .bold {
            font-family: airbnb_bold;
        }

    }
}