.head-order {
    margin-top: 30px;
}

.charts-container {
    display: grid;
    grid-template-columns: 0.8fr 1.7fr 0.5fr;
    justify-items: center;
    gap: 10px;

    @include for-mobile-layout-list {
        grid-template-columns: 1fr;
        justify-items: center;

        // .header-order {
        //     width: max-content;
        //     align-items: center;
        // }
    }

    .bar,
    .doughnut {
        // width: 270px;
        color: #e8b8a5;
        justify-items: center;

    }

    .doughnut {
        grid-row: 1;
        grid-column: 1;

        @include for-mobile-layout-list {
            height: 200px;
        }
    }

    .stats {
        align-self: center;
        align-items: center;
        // display: grid;


        @include for-mobile-layout-list {
            grid-row: 2;
            grid-column: 1;
            align-items: center;

            // height: 300px; 
            // grid-column: 1/3;
            // min-width: 500px;
            .el-row {
                flex-direction: column;
                gap: 5px;
                align-items: center;

                .el-col-8 {
                    width: 400px;
                }
            }
        }

        .statistic-card {
            min-width: 190px;
            margin-left: -60px;
        }

        .stat {
            margin: 10px;
            border-radius: 1rem;
            box-shadow: 0px 0px 7px 1px $clr4;
            padding: 10px;
            width: fit-content;

            span:first-child {
                font-family: airbnb_book;
                font-size: rem(15px);
                margin-inline-end: em(12px);
            }

            span:nth-child(2) {
                font-family: airbnb_bold;
                font-size: rem(20px);
            }
        }
    }

    .bar {
        grid-row: 1;
        grid-column: 3;
        width: 400px;
        height: 300px;

        @include for-mobile-layout-list {
            grid-row: 3;
            grid-column: 1;
            width: 300px;
            height: 400px;
            margin-block-end: -100px;
            z-index: -1;
        }

        canvas {
            width: 400px !important;
        }
    }
}

.list {

    @include for-mobile-layout-list {
        font-size: 16px;
        margin-block-end: 5rem;
    }

    >ul {
        padding: 0;
    }

    .order-list-header {
        display: grid;
        grid-template-columns: 3.5fr 4.5fr 1.5fr 1.5fr 1.5fr;
        grid-template-rows: 1fr;
        align-items: center;
        background-color: #F4F6FA;
        padding-inline: rem(20px);

        @include for-mobile-layout-list {
            grid-template-columns: repeat(4, 1fr) 0.8fr;
            padding-inline: rem(5px);
            padding-block: 1rem;
        }

        :last-child {
            justify-self: end;
        }
    }

    div {
        display: flex;
        font-size: 15px;

        &.buyer-name {

            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.order-preview-wrapper {
    border-block-start: 1px solid #EBEEF2;

    padding-block: 5px;

    .order-preview {
        background-color: white;
        position: relative;
        display: grid;
        //   grid-template-columns: 40px minmax(120px, 1fr) minmax(120px, 160px);
        grid-template-columns: repeat(4, 1fr) 0.8fr;
        grid-template-rows: 1fr;
        // gap: 0px 15px;
        align-items: center;
        // border-radius: 8px 8px 0 0;
        padding: rem(20px);
        align-items: center;

        :last-child {
            justify-self: end;
        }

        @include for-mobile-layout-list {
            padding: 5px;
        }

        .status {
            text-transform: capitalize;
        }

        .header {
            background-color: #F4F6FA;
            padding: 20px;

            span {
                font-weight: bold;
            }

            .header-title {
                display: flex;
                gap: 3px;

                &:hover {
                    cursor: pointer;
                }

                &:last-child {
                    min-width: 50px;
                }
            }
        }

        div {
            background-color: white;
            // font-size: 10px;
        }

        .stay-name {
            justify-self: start;
        }

        .order-pre {
            width: fit-content;

            // &.buyer-name{
            //   width: 200px;
            // }
            // &.stay-name {
            //   width: 400px;
            // }

        }

        .el-input__inner {
            text-transform: capitalize;
            text-align: center;
            min-width: fit-content;
        }

        .totalPrice {
            text-align: center;
        }

        .buyer-name {
            display: flex;
            align-items: center;
            gap: 30px;
            justify-self: start;

            @include for-mobile-layout-list {
                gap: 5px
            }

            img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .select {
        align-self: center;
        gap: 1rem;

        >label {
            height: fit-content;

            >span {
                border-radius: 10px;
                padding-inline: 20px;
                padding-block: 10px;

                @include for-mobile-layout-list {
                    border-radius: 12px;
                    width: 100px;
                    padding-block: 6px;
                    padding-inline: 0;
                    text-align: center;
                }

                font-family: airbnb_medium;
                display: block;

                &.approval {
                    border: solid 2px green;
                    background-color: rgb(208, 251, 208);

                    &:hover {
                        background-color: rgb(159, 255, 159);
                    }
                }

                &.reject {
                    border: solid 2px red;
                    background-color: rgb(251, 208, 208);

                    &:hover {
                        background-color: rgb(255, 148, 148);
                    }
                }

            }
        }
    }
}


// .list-header {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;

//     img {
//         height: 100%;
//         width: 30%;
//     }

//     button {
//         --b: 3px;
//         /* border thickness */
//         --s: 0.45em;
//         /* size of the corner */
//         --color: #373B44;
//         padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
//         color: var(--color);
//         --_p: var(--s);
//         background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
//         transition: 0.3s linear, color 0s, background-color 0s;
//         outline: var(--b) solid #0000;
//         outline-offset: 0.6em;
//         font-size: 16px;
//         border: 0;
//         user-select: none;
//         -webkit-user-select: none;
//         touch-action: manipulation;
//         position: absolute;
//         left: 0;
//         margin-left: 40px;

//         &:hover,
//         &:focus-visible {
//             --_p: 0px;
//             outline-color: var(--color);
//             outline-offset: 0.05em;
//         }

//         &:active {
//             background: var(--color);
//             color: #fff;
//         }
//     }
// }