.order-preview-wrapper {
    border-block-start: 1px solid #EBEEF2;

    padding-block: 5px;

    .order-preview {
        background-color: white;
        position: relative;
        display: grid;
        //   grid-template-columns: 40px minmax(120px, 1fr) minmax(120px, 160px);
        grid-template-columns: repeat(4, 1fr) 0.8fr;
        grid-template-rows: 1fr;
        // gap: 0px 15px;
        align-items: center;
        // border-radius: 8px 8px 0 0;
        padding: rem(20px);
        align-items: center;

        :last-child {
            justify-self: end;
        }

        @include for-mobile-layout-list {
            padding: 5px;
        }

        .status {
            text-transform: capitalize;
        }

        .header {
            background-color: #F4F6FA;
            padding: 20px;

            span {
                font-weight: bold;
            }

            .header-title {
                display: flex;
                gap: 3px;

                &:hover {
                    cursor: pointer;
                }

                &:last-child {
                    min-width: 50px;
                }
            }
        }

        div {
            background-color: white;
            // font-size: 10px;
        }

        .stay-name {
            justify-self: start;
        }

        .order-pre {
            width: fit-content;

            // &.buyer-name{
            //   width: 200px;
            // }
            // &.stay-name {
            //   width: 400px;
            // }

        }

        .el-input__inner {
            text-transform: capitalize;
            text-align: center;
            min-width: fit-content;
        }

        .totalPrice {
            text-align: center;
        }

        .buyer-name {
            display: flex;
            align-items: center;
            gap: 30px;
            justify-self: start;

            @include for-mobile-layout-list {
                gap: 5px
            }

            img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .select {
        align-self: center;
        gap: 1rem;

        >label {
            height: fit-content;

            >span {
                border-radius: 10px;
                padding-inline: 20px;
                padding-block: 10px;

                @include for-mobile-layout-list {
                    border-radius: 12px;
                    width: 100px;
                    padding-block: 6px;
                    padding-inline: 0;
                    text-align: center;
                }

                font-family: airbnb_medium;
                display: block;

                &.approval {
                    border: solid 2px green;
                    background-color: rgb(208, 251, 208);

                    &:hover {
                        background-color: rgb(159, 255, 159);
                    }
                }

                &.reject {
                    border: solid 2px red;
                    background-color: rgb(251, 208, 208);

                    &:hover {
                        background-color: rgb(255, 148, 148);
                    }
                }

            }
        }
    }
}
