.head-order {
  margin-top: 30px;
}

.order-preview {
  background-color: white;
  position: relative;
  display: grid;
  //   grid-template-columns: 40px minmax(120px, 1fr) minmax(120px, 160px);
  grid-template-columns: 3.5fr 4.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 15px;
  border-bottom: 1px solid #EBEEF2;
  align-items: center;
  border-radius: 8px 8px 0 0;
  padding: 20px;
  justify-items: center;

  div {
    background-color: white;

  }

  .stay-name {
    justify-self: start;
  }

  .order-pre {
    width: fit-content;

    // &.buyer-name{
    //   width: 200px;
    // }
    // &.stay-name {
    //   width: 400px;
    // }

  }
}

.green {
  color: rgb(62, 207, 54);
}

.red {
  color: red;
}

.black {
  color: black;
}

.status {
  text-transform: capitalize;
}

.el-input__inner {
  text-transform: capitalize;
  text-align: center;
  min-width: fit-content;
}

.totalPrice {
  text-align: center;
}

.buyer-name {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-self: start;

  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.header-order {
  background-color: #F4F6FA;
  padding: 20px;

  span {
    font-weight: bold;
  }

  .header-sort {
    display: flex;
    gap: 3px;

    &:hover {
      cursor: pointer;
    }

    &:last-child {
      min-width: 50px;
    }
  }
}

.buttons {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 3%;
  cursor: pointer;
}

.list-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    height: 100%;
    width: 30%;
  }

  button {
    --b: 3px;
    /* border thickness */
    --s: 0.45em;
    /* size of the corner */
    --color: #373B44;
    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition: 0.3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    left: 0;
    margin-left: 40px;

    &:hover,
    &:focus-visible {
      --_p: 0px;
      outline-color: var(--color);
      outline-offset: 0.05em;
    }

    &:active {
      background: var(--color);
      color: #fff;
    }
  }
}

.list {
  margin-bottom: 2em;

  >ul {
    padding: 0;
  }


  button {
    border-radius: 3px;
    padding: 1em;
    margin: 0.5em;
    font-weight: bold;
    transition: all 0.5s;
    -webkit-background-clip: text;
    border: none;
    background: linear-gradient(45deg, rgba(255, 193, 7, 1) 0%, rgba(255, 87, 34, 1) 100%);
    color: rgb(79, 78, 78);

    &:hover {
      cursor: pointer;
    }
  }
}

.charts-container {

  display: grid;
  grid-template-columns: 0.8fr 1.7fr 0.5fr;
  justify-items: center;

  @media (max-width:750px) {
    .chart{

      .doughnut {
        grid-row: 1;
      }
  
      .table-order {
        grid-row: 2;
        grid-column: 1/3;
        min-width: 500px;
      }
  
      .bar {
        grid-row: 1;
        grid-column: 2;
        width: 100%;
  
      }
    }

  }

  @media (min-width:1130px) {
    // grid-template-columns: 1fr 3fr 1fr;
    // height: 200px;
  }

  @media (min-width:375px) {
    // grid-template-columns: 1fr 1100px 1fr;
    .chart{

      .doughnut {
        grid-row: 1;
      }
  
      .table-order {
        grid-row: 2;
        grid-column: 1/3;
        min-width: 500px;
      }
  
      .bar {
        grid-row: 1;
        grid-column: 2;
        width: 100%;
  
      }
    }
  }

  .chart {
    // height: 500px;
    width: 270px;
    color: #e8b8a5;
    justify-items: center;

    &.bar {
      grid-row: 1;
      grid-column: 3;
      width: 400px;
      height: 300px;

      canvas {
        width: 400px !important;
      }
    }
  }

  .table-order {
    align-self: center;

    .statistic-card {
      min-width: 190px;
    }
  }

}