.order-list-wrapper {

    .title {
        margin-top: 2rem;
        font-size: 2rem;

        @include for-mobile-layout-list {
            margin-top: 4rem;
            font-size: 1.5rem;
        }
    }

    .charts-container {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1.5fr;
        justify-items: center;
        align-items: center;
        gap: 10px;

        @include for-mobile-layout-list {
            grid-template-columns: 1fr;
            justify-items: center;
        }

        .bar,
        .doughnut {
            justify-items: center;
        }

        .doughnut {
            grid-row: 1;
            grid-column: 1;

            @include for-mobile-layout-list {
                height: 200px;
            }
        }

        .stats {
            align-self: center;
            align-items: center;

            @include for-mobile-layout-list {
                grid-row: 2;
                grid-column: 1;
                align-items: center;

                .el-row {
                    flex-direction: column;
                    gap: 5px;
                    align-items: center;

                    .el-col-8 {
                        width: 400px;
                    }
                }
            }

            .statistic-card {
                min-width: 190px;
                margin-left: -60px;
            }

            .stat {
                margin: 10px;
                border-radius: 1rem;
                box-shadow: 0px 0px 7px 1px $clr4;
                padding: 10px;
                width: fit-content;

                span:first-child {
                    font-family: airbnb_book;
                    font-size: rem(15px);
                    margin-inline-end: em(12px);
                }

                span:nth-child(2) {
                    font-family: airbnb_bold;
                    font-size: rem(20px);
                    white-space: nowrap;
                }
            }
        }

        .bar {
            grid-row: 1;
            grid-column: 3;
            width: 400px;
            height: 300px;

            @include for-mobile-layout-list {
                grid-row: 3;
                grid-column: 1;
                width: 300px;
                height: 400px;
                margin-block-end: -100px;
                z-index: -1;
            }

            canvas {
                width: 400px !important;
            }
        }
    }

    .list {

        @include for-mobile-layout-list {
            font-size: 16px;
            margin-block-end: 5rem;
        }

        >ul {
            padding: 0;

            li {
                list-style: none;
            }
        }

        .order-list-header {
            background-color: #F4F6FA;
            padding-inline: rem(20px);
            padding-block: 1rem;

            div {
                font-size: 15px;
            }

            @include for-mobile-layout-list {
                padding-inline: rem(5px);

                div {
                    font-size: 12px;
                }

                :nth-child(4) {
                    justify-self: end;
                }

                :last-child {
                    justify-self: end;
                }
            }
        }
    }

    .back {
        @include for-mobile-layout-list {
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 1rem;
            left: 1rem;

            height: 2rem;
            width: 2rem;

            border-radius: 50%;
            box-shadow: 0px 0px 10px 1px $clr4;
            background-color: $clr6;

            img {
                height: 1.4rem;
                padding: 5px;
            }
        }

        display: none;
    }
}