.order-confirm {
    padding-inline: 40px;
    margin-block-end: 40px;

    @include for-mobile-layout-list {
        padding: 0;
    }

    .order-container {
        position: relative;
        flex-direction: column;
        gap: 30px;

        @include for-narrow-layout {
            flex-direction: row;
        }
    }

    .header-order1 {
        gap: 15px;
        height: max-content;
        margin: 0;
        font-size: 2em;
        padding-block: 20px 0px;
        margin: 0;

        @include for-mobile-layout-list {
            font-size: 1.6rem
        }
    }

    .CheckoutBtn {
        background: radial-gradient(circle at -50%, #FF385C 0%, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
        padding: 1.5rem 2.5rem;
        width: fit-content;
        border-radius: 20px;
        color: $clr6;
        font-size: rem(16px);
        font-family: airbnb_medium;
        margin-block-start: rem(24px);
        margin-inline-start: auto;

        @include for-narrow-layout {
            margin-block-start: rem(12px);
        }

    }

    .order-text {
        max-width: 100%;

        >p {
            .big {
                font-size: rem(18px);
                padding-block: 1rem;
            }

            .pad-end {
                padding-block-end: 1rem;
            }
        }

        .list-on-order li {
            list-style: disc;
        }
    }

    .order-sticky {
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        border: 1px solid $clr4;
        border-radius: 12px;
        padding: 24px;
        top: 128px;
        box-shadow: $clr4 0 6px 16px;
        width: 100%;
        height: max-content;

        p {
            font-size: 14px;
            margin: 0px;
        }


        @include for-narrow-layout {
            min-width: 350px;
            width: 43%;
        }

        .stay-info-container {

            display: grid;
            grid-template-columns: 150px 2fr;
            gap: 0.625em 1.875em;

            img {
                width: 100%;
                object-fit: cover;
                grid-row: 1/4;
                border-radius: 4px;
            }

            @include for-mobile-layout-list {
                grid-template-columns: 140px 2fr;
                column-gap: 0.875rem;
            }
        }

        .review-totals {
            display: flex;
            gap: 5px;

            .under-line {
                text-decoration: underline;
            }
        }



        .protected {
            z-index: 100;
            border-bottom: 1px solid $clr3;
            padding-bottom: 24px;
            grid-template-columns: 1;

            .air-txt {
                color: $clr1;

            }
        }
    }

    .price-details {
        border-bottom: 1px solid $clr3;
        padding-bottom: 24px;


        .price-order {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 15px;
            gap: 10px
        }

    }

    .total-price-order {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 15px;
        font-weight: 700;
    }

    .end {
        justify-self: end;
    }
}

.fa-star {
    display: inline;
    font-size: 12px;
    fill: currentcolor;
    line-height: 2
}