.order-preview-wrapper {
    border-block-start: 1px solid $clr4;
    padding-block: 5px;


    .stay-name {
        justify-self: start;
        padding-inline-start: 20px;
        padding-block: 10px;
        font-size: 1.1rem;

        @include for-mobile-layout-list {
            padding-inline: 0;
            font-size: rem(15px);
        }

        span {
            font-size: 0.8rem;
            font-family: cereal;
            color: $clr3;
            padding-inline-end: 5px;

            @include for-mobile-layout-list {
                display: none;
            }
        }
    }

    .order-preview {
        background-color: white;
        position: relative;
        padding: rem(10px) rem(20px);

        @include for-mobile-layout-list {
            padding: 0;
        }

        .buyer-name {
            display: flex;
            align-items: center;
            justify-self: start;
            gap: rem(10px);

            @include for-mobile-layout-list {
                flex-direction: column;
                gap: 5px;
            }

            img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .status {
            text-transform: capitalize;
            padding-inline-start: 5px;
        }
    }

    .select {
        align-self: end;
        margin-block-start: -20px;
        margin-block-end: 5px;
        z-index: 1;
        gap: 1rem;

        @include for-mobile-layout-list {
            align-self: center;
            margin: 0;
        }

        >label {
            height: fit-content;

            >span {
                border-radius: 10px;
                padding-inline: 20px;
                padding-block: 10px;

                @include for-mobile-layout-list {
                    border-radius: 12px;
                    width: 100px;
                    padding-block: 6px;
                    padding-inline: 0;
                    text-align: center;
                }

                font-family: airbnb_medium;
                display: block;

                &.approval {
                    border: solid 2px green;
                    background-color: rgb(208, 251, 208);

                    &:hover {
                        background-color: rgb(159, 255, 159);
                    }
                }

                &.reject {
                    border: solid 2px red;
                    background-color: rgb(251, 208, 208);

                    &:hover {
                        background-color: rgb(255, 148, 148);
                    }
                }

            }
        }
    }
}