body {
    font-size: 1em;
    line-break: strict;
}

.stay-details {
    max-width: 1280px;
    letter-spacing: .007em;
    margin-inline: auto;

    .name-title {
        font-size: 1.625rem;
        padding-block-start: 1.5rem;
    }

    .details {
        .name-subtitle {

            .rating-review {
                cursor: pointer;
                gap: 0.3125em;

                .avg-rating {
                    gap: 3px;
                }

                .icon-svg {
                    margin-right: 3px;
                }
            }
        }

        .save-stay {
            align-items: center;
            gap: 7px;
            border-radius: 8px;
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
            font-size: rem(14px);
            position: relative;
            font-weight: 600;

            .red {
                -webkit-text-fill-color: red;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-opacity: 1;
                -webkit-text-stroke-color: $clr5;
            }

            .black {
                -webkit-text-fill-color: rgba(0, 0, 0, 0.5);
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-opacity: 1;
                -webkit-text-stroke-color: $clr5;
            }
        }
    }

    .images-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50% 50%;
        aspect-ratio: 3.05/1;
        gap: 8px;
        border-radius: 12px;
        overflow: hidden;
        margin-top: 22px;

        :first-child {
            grid-row: 1/3;
            grid-column: 1/3;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .mid-section {

        @include for-mobile-layout {
            flex-direction: column;
            gap: 1rem;
        }

        @include for-mobile-layout-min {
            gap: 2rem;
        }

        @include for-narrow-layout {
            gap: 4rem;
        }

        @include for-medium-layout {
            gap: 5rem
        }

        .more-details {
            >*:not(.divider) {
                padding-top: 39px;
                padding-bottom: 8px;
            }

            .heading {
                padding-bottom: 24px;

                h2 {
                    margin-bottom: 0.3em;
                }


                .txt {
                    .capacity-details {
                        gap: 3px;
                    }
                }

                img {
                    height: 62px;
                    width: 62px;
                    border-radius: 50%;
                    padding: 3px;
                }

            }

            .special-perks {

                >* {
                    gap: 1rem;
                    margin-bottom: 1.5rem;
                    line-height: 1.25rem;
                }


                .txt {
                    gap: rem(6px);

                    h4 {
                        margin: 0;
                        font-weight: 600;
                    }

                    .subtitle {
                        font-size: .875rem;
                        color: #717171;
                    }
                }
            }

            .summary>div {
                padding-block: rem(17px);
            }

            .amenities {
                .amenities-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding-block: 17px;
                    line-height: 2.4rem;
                    align-items: center;

                    li.amenity {
                        gap: 0.7rem;
                        list-style: none;
                    }
                }
            }
        }

        .reservation-section {
            margin-top: 50px;
            margin-bottom: 32px;
            position: relative;

            .reservation {
                position: sticky;
                top: 6rem;
                justify-content: flex-end;

                .reservation-container {
                    border: 1px solid rgb(221, 221, 221);
                    border-radius: 12px;
                    padding: 24px;
                    box-shadow: #0000001f 0 6px 16px;
                    min-width: fit-content;

                    .reservation-form-header {
                        display: flex;
                        align-items: start;
                        justify-content: space-between;
                        margin-bottom: 24px;
                        min-width: fit-content;
                        width: 100%;
                        flex-wrap: wrap;

                        p.reservation-price {
                            min-width: fit-content;
                            align-self: center;
                            margin: 0;

                            span.cost {
                                font-size: 1.3em;
                            }
                        }

                        .rating-review {
                            cursor: pointer;
                            gap: 0.3125em;

                            .avg-rating {
                                gap: 3px;
                            }

                            .rev-count {
                                color: #717171;
                            }
                        }
                    }

                    .reservation-data {
                        border: 1px solid rgba(0, 0, 0, 0.3137254902);
                        box-shadow: 0 6px 20px #c5c5c5;
                        border-radius: 10px;
                        margin-bottom: 16px;
                        position: relative;
                        line-height: 12px;
                        cursor: pointer;

                        label {
                            font-family: airbnb_bold;
                            font-size: .625em;
                            cursor: default;
                        }

                        input {
                            border: none;
                            padding: 0;
                            outline: none;
                            font-size: .875em;
                        }

                        .date-picker-container {
                            display: flex;
                            justify-content: space-between;
                            position: relative;

                            .date-input {
                                position: relative;
                                flex: 1 1 0%;
                                padding: 0px;
                                overflow: hidden;
                                border-left: 1px solid rgb(176, 176, 176);
                                padding: 1rem;

                                &:first-child {
                                    border-left: none;
                                }

                                >input.subtitle {
                                    display: flex;
                                    min-width: fit-content;
                                    padding-block-start: 5px;
                                    max-width: 135px;
                                    font-size: em(14px);
                                }
                            }

                        }

                        .guest-input {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            border-top: 1px solid rgba(0, 0, 0, .3137254902);
                            padding: 7px 12px;
                            font-size: em(14px);

                            >div {
                                label {
                                    font-family: airbnb_bold;
                                    font-size: 10px;
                                }

                                >input {
                                    width: 10px;
                                }

                                >svg {
                                    position: absolute;
                                    height: 20px;
                                    width: 20px;
                                    top: 50%;
                                    right: 0;
                                    transform: translate(-12px) translatey(-50%);
                                }
                            }

                            .guests-picker {
                                position: absolute;
                                right: 0;
                                top: 101%;
                                z-index: 5;
                                background-color: $clr6;
                                border-radius: 12px;
                                border: none;
                                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
                                width: fit-content;
                                height: fit-content;
                                padding: 1rem 1rem;

                                >div {
                                    min-width: 303px;
                                    width: auto;
                                }
                            }
                        }
                    }

                    button.action-btn {
                        width: 100%;
                        height: 48px;
                        cursor: pointer;
                        border-radius: 8px;
                        background-image: radial-gradient(circle at calc((0 + var(--positionX, 0)) * 10%) calc((0 + var(--positionY, 0)) * 5%), rgb(241, 37, 75) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: rem(16px);
                        line-height: 20px;
                        color: $clr6;
                    }
                }
            }
        }
    }

    .reviews-and-map {
        margin: 0;

        >*:not(.divider) {
            padding: 48px 0;
        }

        .reviews {
            h1 {
                margin-bottom: 32px;

                .rating-review {
                    gap: 0.3125em;
                    font-size: 1.375rem;

                    .avg-rating {
                        gap: 3px;
                    }

                    .rev-count {
                        text-decoration: none;
                    }
                }
            }

            .review-head-lins {
                display: grid;
                grid-template-columns: 2fr 1fr 2fr 1fr;
                column-gap: 10px;
                align-items: center;
                margin-bottom: 1.875em;

                .progress-container {
                    align-items: center;
                    border-radius: 1.875em;
                    display: flex;
                    color: black;

                    progress {
                        // -webkit-margin-end: 0.625em;
                        font-size: 1.5em;
                        height: 0.375em;
                        margin-inline-end: 0.625em;

                        &[value] {
                            background-color: $clr6;
                            height: 4px;
                            width: 104px;

                            &::-webkit-progress-bar {
                                background-color: $clr6;
                                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
                                border-radius: 10px;
                            }

                            &::-webkit-progress-value {
                                background-color: $clr2;
                            }
                        }
                    }
                }

                >p {
                    margin: 0;
                    font-size: 1rem;
                    font-family: cereal;
                    padding-block: 5px;
                }
            }


            .reviews-container {
                .reviews-list {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 40px 1px;

                    li {
                        list-style: none;
                        max-width: 80%;

                        .title {
                            margin-bottom: 13px;
                            gap: 10px;
                            align-items: center;

                            img {
                                height: 40px;
                                width: 40px;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }

    .divider {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #ddd;
        padding: 0;
        margin: 0;
    }

    .link {
        text-decoration: underline;
    }

    h1,
    h2,
    h3,
    h5,
    h6 {
        margin: 0 0 0.4em;
    }
}