.stay-preview {
    margin-top: 0px;
    align-content: center;
    justify-items: start;
    color: $clr2;
    cursor: pointer;
    height: fit-content;
    // max-width: 330px;

    .img-container {
        
        position: relative;
        margin-bottom: 12px;
        border-radius: em(10px);

        // max-width: 330px;
        // max-height: 330px;

        @include aspect-ratio(1, 1);

        &:hover .el-carousel__arrow {
            background-color: $clr4;
            color: $clr2;
        }

        .el-carousel {
            overflow: hidden;
        }

        img.stay-img {
            top: 0;
            left: 0;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            display: block;
            z-index: -1;
            object-fit: cover;
        }

        .remove-stay {
            position: absolute;
            color: $clr2;
            height: 30px;
            margin: 3px;
            padding: 3px;
            top: 15px;
            left: 15px;
            border: 1px solid $clr2;
            font-size: rem(21px);
            opacity: 1.5;
            z-index: 1;
        }

        .fa-heart {
            position: absolute;
            display: block;
            height: 21px;
            margin: -2px 0px 0px;
            padding: 2px 0px 0px;
            background-color: transparent;
            transition: transform 0.25s ease;
            top: 16px;
            right: 16px;
            font-size: rem(21px);
            opacity: 1;
            -webkit-text-fill-color: rgba(0, 0, 0, 0.5);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-opacity: 1;
            -webkit-text-stroke-color: $clr5;
            z-index: 1;
            
            &:before {
                position: absolute;
                right: 0;
            }
        }
        .red {
            -webkit-text-fill-color: red;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-opacity: 1;
            -webkit-text-stroke-color: $clr5;
        }

        .black {
            -webkit-text-fill-color: rgba(0, 0, 0, 0.5);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-opacity: 1;
            -webkit-text-stroke-color: $clr5;
        }

        .el-carousel__container {
            position: relative;
            height: 100%;
        }

        .el-carousel__button {
            width: 6px;
            height: 6px;
            border-radius: 50%;

        }
    }

    .update-btn {
        color: #252525;
        border: 1px solid $clr2;
    }


    .preview-txt {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2px 8px;

        p {
            margin: 0;
            padding: 0;
            font-size: rem(15px);
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 19px;

            address {
                grid-column: 1;
                grid-row: 1;
            }

        }

        .rating {
            // float: right;
            grid-row: 1;
            grid-column: 2;
            text-align: right;
        }

        .fa-star {
            font-size: rem(11px);
           transform: translateY(-10%);
        }

        .stayName {
            grid-row: 2;
            grid-column: 1/-1;
            padding-inline-end: 1em;
        }

        .beds {
            grid-row: 3;
            grid-column: 1;
        }

        .price {
            grid-row: 4;
            grid-column: 1;
            margin-top: 6px;
        }
    }
}