.header {
    width: 100vw;
    max-width: 2520px;
    height: em(80px);
    border-bottom: solid 1px $clr4;

    @include for-mobile-layout {
        padding-inline: em(24px);
    }

    @include for-narrow-layout {
        padding-inline: em(40px);
    }

    @include for-wide-layout {
        padding-inline: em(80px);
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        gap: 5px;

        img {
            object-fit: contain;
            height: em(32px);
        }

        span {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0.9;
            color: $clr1
        }

        &:hover {
            text-decoration: none;
        }
    }

    .search {
        display: flex;
        height: 3rem;
        width: fit-content;
        border-radius: 50px;
        box-shadow: 0px 0px 2px 1px $clr4;

        button {
            background-color: transparent;
            color: $clr2;
            font-family: Circular;
            font-size: 14px;
            padding-inline: 1rem;
            border-right: solid 1px $clr4;

            &.g {
                color: $clr3;
                // font-family: CircularLight;
                font-weight: 200;
                border-right: none;
            }
        }

        .glass {
            background-color: $clr1;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            padding: 10px;
            display: flex;
            margin-inline-end: 10px;

            img {
                // width:22px;
                object-fit: contain;
            }
        }

    }

    nav {
        gap: 10px;

        .link-add-stay {
            color: $clr2;
            font-size: 14px;
        }

        .loggedin-user {
            padding: 5px 10px;
            border-radius: 1em;
            align-self: flex-end;
            color: whitesmoke;
            width: 2em;
            gap: 10px;
            border-radius: 50px;
            box-shadow: 0px 0px 2px 1px $clr4;
            width: fit-content;
            .ham {
                width: 12px;
                object-fit:contain ;
            }
            .user {
                width: 2rem;
                object-fit: contain;
            }
            span {
                background-color: $clr2;
                padding: 4px;
                margin: 10px;
            }

            img {
                height: 2em;
                // border-radius: 50%;
            }
        }
    }

    // nav {
    //     padding: 5px 0;

    //     a:not(:first-child) {
    //         border-top: 1px solid $clr1;
    //         padding: 0 5px;
    //         margin: 10px;
    //     }

    //     .active {
    //         color: $clr1;
    //     }
    // }

}