.header-background {
    background-color: $clr6;
    border-bottom: solid 1px $clr4;
    height: em(70px);
    width: 100%;
    max-width: 2520px;
    position: absolute;
    z-index: 4;
    transform: scaleY(1);
    transition: transform 250ms ease-in-out;

    &.open {
        transform: scaleY(3);
    }
}

.header {
    width: 100%;
    max-width: 2520px;
    height: em(70px);
    position: relative;
    z-index: 4;

    @include for-mobile-layout {
        padding-inline: rem(24px);
    }

    @include for-narrow-layout {
        padding-inline: rem(40px);
    }

    @include for-normal-layout {
        padding-inline: rem(40px);
    }
    @include for-medium-layout {
        padding-inline: rem(80px);
    }

    @include for-wide-layout {
        padding-inline: rem(40px);
    }
}

.backdrop {
    background-color: rgba($clr3, 0.5);
    position: fixed;
    z-index: 1;
    top: em(140px);
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0px 80px;
}