.header {
    width: 100vw;
    max-width: 2520px;
    height: em(70px);
    border-bottom: solid 1px $clr4;
    // position: relative;
    // z-index: 1;

    @include for-mobile-layout {
        padding-inline: em(24px);
    }

    @include for-narrow-layout {
        padding-inline: em(40px);
    }

    @include for-normal-layout {
        padding-inline: em(80px);
    }

    @include for-wide-layout {
        padding-inline: em(80px);
    }
}