.main-header {
    position: relative;

    .header-background {
        background-color: $clr6;
        border-bottom: solid 1px $clr4;
        height: em(80px);
        width: 100%;
        position: absolute;
        inset: 0;
        z-index: 4;
        transform: scaleY(1);
        transition: transform 250ms ease-in-out;

        &.open {
            transform: scaleY(2);
        }
    }

    .header {
        height: em(80px);
        position: relative;
        z-index: 4;
        width: 100%;
        margin: auto;

        &.margin-details-page {
            padding-inline: 80px;
        }

        &.no-margin {
            padding-inline: 0;
            width: 100%;
        }
    }


    .backdrop {
        background-color: rgba($clr3, 0.5);
        position: fixed;
        z-index: 1;
        top: em(140px);
        right: 0;
        width: 100%;
        height: 100%;
        // padding: 0px 80px;
    }
}