.counter-inc-dec {
    justify-content: space-between;
    width: 6rem;

    button {
        height: 2rem;
        width: 2rem;
        border: solid 1px lighten($clr3, 20%);
        border-radius: 50%;
        font-size: rem(22px);
        color: $clr3;

        &:hover {
            color: $clr2;
            border-color: $clr2;
        }
    }

    >span>input {
        height: 2rem;
        width: 1.2rem;
        background-color: transparent;
        border: none;
        font-family: cereal;
        font-size: 1rem;
        text-align: center;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}