.counter-inc-dec {
    justify-content: space-between;
    min-width: 104px;

    button {
        height: 2rem;
        width: 2rem;
        border: solid 1px lighten($clr3, 20%);
        border-radius: 50%;
        font-size: rem(22px);
        color: $clr3;

        &:disabled {
            color: darken($clr5, 9%);
            border-color: darken($clr5, 9%);
        }

        &:hover:not(:disabled) {
            color: $clr2;
            border-color: $clr2;
        }

        >svg {
            display: block;
            fill: none;
            height: 29px;
            width: 29px;
            stroke: currentcolor;
            stroke-width: 5.33333;
            overflow: visible;
            flex-grow: 1;
            scale: 0.4;
        }
    }

    >span>input {
        height: 2rem;
        width: 1.2rem;
        background-color: transparent;
        border: none;
        font-family: cereal;
        font-size: 1rem;
        text-align: center;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}