.filter-list {
    padding: 0px 40px;
    display: flex;
    gap: 50px;
    margin-top: 20px;
    padding: 0px 80px;

    img {
        height: 24px;
        width: 24px;

    }

    .nav-item {
        text-align: center;

        width: fit-content;

        &:hover {

            box-shadow: 0px -2px 0px 0px inset $clr3;
        }
    }

    span {
        font-family: montserrat_bold;
        font-size: 11px;
    }
}