 .filter-category{
    padding: 0px 80px;
    width: 85%;
  margin-top: 10px;
    button {
        cursor: pointer;
        background-color: transparent;
        cursor: pointer;
        border: 2px solid $clr3;
        border-radius: 50%;
        color: $clr2;
         margin: 0px 80px;
       &:hover{
        color: $clr2;
        box-shadow: 1px 3px 10px $clr3
       }
      }
      .carousel__track {
          display: flex;
          margin-top: 20px;
         
          img {
              height: 24px;
              width: 24px;
          }
          .nav-item {
              text-align: center;
              width: fit-content;
              cursor: pointer;
              &:hover {
                  box-shadow: 0px -2px 0px 0px inset $clr3;
              }
          }
          p {
              font-family: montserrat_bold;
              font-size: 11px;
          }
      }
      
      ol {
          list-style-type: none;
        //   padding: 0px 80px;
          height: 65px;
      }      
 }