 .filter-category {
    //   padding: 0px 80px;

     margin-top: 10px;
    //  @include  width-padding-mqs;

     button {
         cursor: pointer;
         border: 1px solid $clr3;
         border-radius: 50%;
         color: $clr2;
         margin: 3px;
         font-size: 16px;

         &.carousel__next {
             box-shadow: 20px 0px 18px 30px rgb(255, 255, 255);
             background-color: #fff;
             margin-right: 35px;
         }

         &.carousel__prev {
             box-shadow: -20px 0px 18px 30px rgb(255, 255, 255);
             background-color: #fff;
             margin-left: 35px;
         }

         &:hover {
             color: $clr2;
             box-shadow: 1px 3px 10px $clr3;
         }
     }

     .carousel__track {
         display: flex;
         gap: em(10px);
         margin-top: 20px;
         color: $clr3;
         gap: -80px;
         .carousel__slide{
            align-items: flex-start;
         }

         img {
             height: 24px;
             width: 24px;
             opacity: 0.5;
         }

         .nav-item {
             text-align: center;
             width: fit-content;
             cursor: pointer;
             flex:default;

             &:hover p{
                 box-shadow: 0px -2px 0px 0px inset $clr3;
                 color: black;
                 img{
                     opacity: 1;
                 }
             }
         }

         p {
             margin-top: 1px;
             font-family: montserrat_medium;
             font-size: 11px;
         }
     }

     ol {
         list-style-type: none;
        //    padding: 0px 80px;
         height: 65px;
        
     }
   

 }