 .filter-category {
     //   padding: 0px 80px;

     margin-top: 10px;

     //  @include  width-padding-mqs;
     .carousel__next--disabled,
     .carousel__prev--disabled {
         display: none;
         opacity: 0.5;
     }

     button {
         cursor: pointer;
         border: 1px solid $clr3;
         border-radius: 50%;
         color: $clr2;
         margin: 3px;
         font-size: rem(16px);
         background-color: #fff;
         height: 20px;
         width: 20px;

         &.carousel__next {
             box-shadow: 20px 0px 18px 30px rgb(255, 255, 255);
             background-color: #fff;
             margin-right: auto;

             &:hover.carousel__prev {
                 opacity: 1;

             }
         }

         &.carousel__prev {
             box-shadow: -20px 0px 18px 30px rgb(255, 255, 255);
             background-color: #fff;
             margin-left: auto;
         }

         &:hover {
             color: $clr2;
             box-shadow: 1px 3px 10px $clr3;
         }
     }

     .carousel__track {
         display: flex;
         justify-content: space-between;
         gap: 2rem;
         width: 100%;
         margin-top: 20px;
         color: $clr3;
         //  gap: -80px;

         .carousel__slide {
             //  align-items: flex-start;
             flex-shrink: unset;

             &.nav-item {
                 width: 100% !important;
                 min-width: rem(56px) !important;
                 display: flex !important;
                 justify-content: center !important;
             }
         }

         img {
             height: 24px;
             width: 24px;
             opacity: 0.5;
         }

         .nav-item {
             cursor: pointer;

             &:hover .carousel__item {
                 box-shadow: 0px -2px 0px 0px inset rgb(216, 210, 210);
                 color: black;

                 img {
                     opacity: 1;
                 }
             }

             .clicked-label {
                &p{
                    // border-bottom: 3px solid black !important;
                }
             }
         }

         p {
             margin-top: 1px;
             font-family: airbnb_medium;
             font-size: rem(12px);
             width: max-content;
         }
     }

     >ol {
         list-style-type: none;
         height: 65px;
         justify-content: space-between;
         //  margin-left: -26px;

         >li {

             //  width: fit-content;
             //  margin-right: -20px;
             .carousel__slide.carousel__slide--visible.nav-item,
             .carousel__slide.carousel__slide--visible.carousel__slide--active.nav-item {
                 width: fit-content !important;
             }
         }
     }

 }

 .active.carousel__item{
      box-shadow: 0px -2px 0px 0px inset $clr3;

  }
 .active {
     opacity: 1;
     color: black;
     img {
         opacity: 1 !important;
     }
 }

 .inactive {
     box-shadow: none;
     color: $clr3;
 }