.filter-nav {
  padding: 0px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(78px, 1fr));
    // row-gap: 32px;
    column-gap: 10px;
    img {
        height: 24px;
        width: 24px;
        // margin-left: 30px;
    }
    .nav-item {
        text-align: center;
       
        height: 48px;
        width: 63.2px;
    }
    span{
        font-family: montserrat_bold;
        font-size: 11px;
    }
}