 .filter-category {
     //   padding: 0px 80px;

     margin-top: 10px;

     //  @include  width-padding-mqs;
     .carousel__next--disabled,
     .carousel__prev--disabled {
         display: none;
         opacity: 0.5;
     }

     button {
         cursor: pointer;
         border: 1px solid $clr3;
         border-radius: 50%;
         color: $clr2;
         margin: 3px;
         font-size: 16px;
         height: 20px;
         width: 20px;

         .carousel__next {
             box-shadow: 20px 0px 18px 30px rgb(255, 255, 255);
             background-color: #fff;
             margin-right: auto;

             &:hover.carousel__prev {
                 opacity: 1;

             }
         }

         &.carousel__prev {
             box-shadow: -20px 0px 18px 30px rgb(255, 255, 255);
             background-color: #fff;
             margin-left: auto;
             //  opacity: 0;
         }

         &:hover {
             color: $clr2;
             box-shadow: 1px 3px 10px $clr3;
         }
     }

     .carousel__track {
         display: flex;
         margin-top: 20px;
         color: $clr3;
         gap: -80px;

         .carousel__slide {
             align-items: flex-start;

         }

         img {
             height: 24px;
             width: 24px;
             opacity: 0.5;
         }

         .nav-item {
             //  text-align: center;
             cursor: pointer;
             //  flex: default;

             &:hover .carousel__item {
                 // margin-block-end: 30px;
                 box-shadow: 0px -2px 0px 0px inset rgb(216, 210, 210);
                 color: black;

                 img {
                     opacity: 1;
                 }
             }

             .clicked-label {
                 border-bottom: 3px solid black !important;

             }
         }

         p {
             margin-top: 1px;
             font-family: montserrat_medium;
             font-size: 11px;
             font-weight: bolder;
         }
     }

     ol {
         list-style-type: none;
         //    padding: 0px 80px;
         height: 65px;
         margin-left: -26px;

         li {
             width: fit-content;
             margin-right: -20px;

             //  margin-left: -30px;

         }
     }

     .carousel__slide.carousel__slide--visible.carousel__slide--active.nav-item {
         width: fit-content;
     }
 }

 .active {
     box-shadow: 0px -2px 0px 0px inset $clr3;
     color: black;
     opacity: 1;

     img {
         opacity: 1 !important;
     }
 }

 img .active {
     opacity: 1;
 }

 .inactive {
     box-shadow: none;
     color: $clr3;
 }