.guests-picker {
    position: absolute;
    left: 0;
    top: 112%;
    z-index: 5;
    background-color: $clr5;
    border-radius: 32px;
    border: solid 1px $clr4;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
    width: fit-content;
    height: fit-content;
    padding: 1rem 2rem;

    .adults,
    .children,
    .infants {
        text-align: start;
        padding-block: 1.5rem;
        height: fit-content;
        width: 326px;
        // display: flex;
        // flex-direction: column;

        >div:first-child {
            border: none;

            .type {
                font-size: 1rem;
                font-family: airbnb_medium;
                color: $clr2;

            }

            .description {
                font-size: rem(14px);
            }
        }
    }
}