.home {
    @include for-mobile-layout {
        width: calc(100vw - 2 * $layoutPaddingSmall - 20px);
    }

    @include for-mobile-layout-min {
        width: calc(100vw - 2 * $layoutPadding - 20px);
    }

    @include for-wide-layout {
        width: calc(100vw - 2 * $layoutPaddingLarge - 20px);
    }

}