.logo {
    gap: 5px;
    margin: -5px;
    flex: 0.6;
    position: relative;
    z-index: 3;

    img {
        object-fit: contain;
        height: em(32px);
    }

    span {
        font-size: 20px;
        font-family: airbnb_bold;
        letter-spacing: 0.9;
        color: $clr1;

        @include for-medium-layout {
            display: none;
        }

        @include for-normal-layout {
            display: none;
        }
    }

    &:hover {
        text-decoration: none;
    }
}