nav {
    justify-content: end;
    flex-grow: 0.7;
    position: relative;
    z-index: 3;

    .links {
        justify-content: end;

        .link-add-stay {
            color: $clr2;
            font-size: 14px;
            font-family: airbnb_medium;
            padding: 12px 15px;
            border-radius: 28px;
            width: max-content;
            
            &:hover {
                background-color: $clr5;
            }
        }

        .i18n-container {
            border-radius: 50%;
            width: rem(46px);
            height: rem(42px);
            justify-content: center;

            .i18n {
                height: 1rem;

                img {
                    width: 1rem;
                }
            }

            &:hover {
                background-color: $clr5;
            }
        }
    }


    .loggedin-user {
        width: fit-content;
        padding: 5px 5px 5px 12px;
        border-radius: 50px;
        border: solid 1px $clr4;
        box-shadow: none;
        transition: box-shadow ease-in 250ms;
        gap: 14px;

        &:hover {
            box-shadow: 0px 2px 3px 1px $clr4;
        }

        .ham {
            width: 12px;
            object-fit: contain;
        }

        .user {
            width: 2rem;
            object-fit: contain;
        }
    }
}