nav {
    justify-content: end;
    flex-grow: 0.7;
    position: relative;
    z-index: 3;

    @include for-mobile-layout {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .links {
        justify-content: end;

        .link-add-stay {
            color: $clr2;
            font-size: 14px;
            font-family: airbnb_medium;
            padding: 12px 15px;
            border-radius: 28px;
            width: max-content;

            &:hover {
                background-color: $clr5;
            }
        }
    }


    .loggedin-user {
        width: fit-content;
        padding: 5px 5px 5px 12px;
        border-radius: 50px;
        border: solid 1px $clr4;
        box-shadow: none;
        transition: box-shadow ease-in 250ms;
        gap: 14px;

        &:hover {
            box-shadow: 0px 2px 3px 1px $clr4;
        }

        .ham {
            width: 12px;
            object-fit: contain;
        }

        .user {
            width: 2rem;
            object-fit: contain;
        }
    }

    .mini-menu {
        position: absolute;
        top: 0;
        transform: translateY(60%);

        width: 200px;
        padding: 1rem;

        background-color: $clr6;
        border-radius: em(10px);
        box-shadow: 0px 0px 7px 1px $clr4;

        >a {
            font-size: rem(14px);
            font-family: airbnb_book;
            color: $clr2;
            padding-block: 5px;
        }

        .bold {
            font-family: airbnb_bold;
        }

    }
}