.order-confirm {
    display: grid;
    // grid-template-rows: auto 1fr;
    grid-template-columns: 40px 1fr 40px;

    >* {
        grid-column: 2;
    }

    @media (min-width:1130px) {
        grid-template-columns: 80px 1fr 80px;
    }

    @media (min-width:1320px) {
        grid-template-columns: 1fr 1100px 1fr;
    }

    .order-container {
        position: relative;
        flex-direction: column;
        gap: 30px;

        @media (min-width:750px) {
            flex-direction: row;
        }
    }

    .header-order1 {
        // display: flex;
        gap: 15px;
        // padding-block: 64px 50px;
        height: max-content;
        margin: 0;

    }

    // p{
    // margin: 0;
    // }

    .CheckoutBtn {
        background: radial-gradient(circle at -50%, #FF385C 0%, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
        padding: rem(24px) rem(46px);
        width: fit-content;
        border-radius: 20px;
        color: $clr6;
        font-size: rem(16px);
        margin-top: 30px;
    }

    .list-on-order li {
        list-style: disc;
    }

    .first-line {
        font-size: 2em;
        // gap: 15px;
        padding-block: 20px 0px;
        margin: 0;
    }


    .order-text {
        max-width: 100%;
      
        // margin-top: 60px;
        @media (min-width:550px) {
            // width: 45%;
        }

        >p {

            .big {
                font-size: rem(18px);
                padding-block: 1rem;
            }

            .pad-end {
                padding-block-end: 1rem;
            }
        }
    }

    & .order-sticky {
        min-width: 350px;
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        // margin-top: 65px;
        // margin-left: 8.3333333333%;
        border: 1px solid $clr4;
        border-radius: 12px;
        padding: 24px;
        top: 128px;
        box-shadow: $clr4 0 6px 16px;
        width: 100%;
        height: max-content;
        p{
            font-size: 14px;
            margin: 0px;
        }

        @media (min-width:550px) {
            width: 43%;
        }


        // .order-details-container {
        // border-bottom: 1px solid $clr3;
        // padding-bottom: 24px;
        // }

        .stay-info-container {
           
            display: grid;
            grid-template-columns: 150px 2fr;
            // grid-template-rows: 1fr 1fr;
            gap: 0.625em 1.875em;

            img {
                width: 100%;
                object-fit: cover;
                grid-row: 1/4;
                border-radius: 4px;
            }
        }

        .review-totals {
            display: flex;
            gap: 15px;
           

            
            .under-line {
                text-underline-position: under
            }
        }
      


        .protected {
            z-index: 100;
            border-bottom: 1px solid $clr3;
            padding-bottom: 24px;
            grid-template-columns: 1;

            .air-txt {
                color: $clr1;

            }
        }
    }

    .price-details {
        border-bottom: 1px solid $clr3;
        padding-bottom: 24px;


        .price-order {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 15px;
            gap: 10px
        }

    }

    .total-price-order {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 15px;
        font-weight: 700;
    }

    .end {
        justify-self: end;
    }
}
.fa-star {
      display: inline;
      font-size: 12px;
      fill: currentcolor;
      line-height:2
  }