.user-preview {
    background-color: white;
    position: relative;
    display: grid;
    //   grid-template-columns: 40px minmax(120px, 1fr) minmax(120px, 160px);
    grid-template-columns: 3.5fr 1.5fr 1.5fr 1.5fr 1.5fr 0.1fr;
    grid-template-rows: 1fr;
    gap: 0px 15px;
    border-bottom: 1px solid #EBEEF2;
    align-items: center;
    border-radius: 8px 8px 0 0;
    padding: 20px;
    div {
      background-color: white;
    }
  }
  .header-user {
    background-color: #F4F6FA;
    padding: 20px;
    span {
      font-weight: bold;
    }
    .header-sort {
      display: flex;
      gap: 3px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 3%;
    cursor: pointer;
  }