.sub-search {
    gap: 30px;
    font-family: CircularLight;
    font-size: 1rem;
    font-weight: 300;
    margin-inline-end: 55px;

    a {
        padding: 5px;

        &:after {
            display: block;
            content: '';
            border-bottom: solid 2px $clr3;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }

        &:hover {
            color: $clr3;

            &:after {
                transform: scaleX(1);
            }
        }
    }
}

.search-container.expanded {
    width: 100vw;
    height: em(70px);
    position: absolute;
    top: em(70px);
    margin-inline-start: -100px;
    z-index: 4;

    .search {
        background-color: lighten($clr4, 8%);
    }
}

.search {
    display: flex;
    padding:7px;
    // height: 3rem;
    width: fit-content;
    border-radius: 50px;
    border: solid 1px $clr4;
    box-shadow: 0px 1px 2px 0px $clr4;
    margin: -1px 24px;
    padding-inline-start: 10px;

    position: absolute;
    left: 48vw;
    translate: -50%;
    z-index: 3;
    transition: box-shadow ease-in-out 250ms;

    &:hover {
        box-shadow: 0px 1px 3px 1px $clr4;
    }

    &.expanded {
        // height: 4rem;
        padding:14px;
    }

    button {
        background-color: transparent;
        color: $clr2;
        font-family: Circular;

        >div {
            border-right: solid 1px $clr4;
            padding-inline: 1rem;
            font-size: 14px;
            margin: auto;

            &.open {
                align-items: flex-start;
                border-right: solid 1px $clr4;
                padding-inline: 1rem;
            }
        }

        &:last-child {
            color: $clr3;

            div {
                border-right: none;
            }
        }
    }

    .glass {
        background-color: $clr1;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        padding: 10px;
        display: flex;
        margin-inline-end: 10px;

        .search.expanded & img::before {
            content: 'Search';
            color: $clr6;
            font-size: 1rem;
        }

        img {
            // width:22px;
            object-fit: contain;
        }
    }

}