.search-container {

    .search {
        display: flex;
        width: fit-content;
        margin: -1px 18px;
        padding-inline-start: 10px;
        padding-block: 7px;

        border-radius: 50px;
        border: solid 1px $clr4;
        box-shadow: 0px 1px 2px 0px $clr4;
        transition: box-shadow ease-in-out 250ms;

        &:hover {
            box-shadow: 0px 1px 3px 1px $clr4;
        }

        >button {
            background-color: transparent;
            color: $clr2;

            &:not(:first-child)>div {
                border-left: $clr4 solid 1px;
            }


            >div {
                padding-inline: 1rem;
                font-size: rem(14px);
                font-family: airbnb_medium;
                margin: auto;

                label {
                    font-size: rem(12px);
                    font-family: airbnb_bold;
                }

                >input,
                .sub-title {
                    background-color: transparent;
                    border: none;
                    font-family: cereal;
                    font-size: rem(14px);
                    width: 100px;

                    &:focus {
                        border: none;
                        outline: none;
                    }
                }

                .sub-title {
                    color: $clr3;
                    text-align: start;
                    height: em(20px);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    ::-webkit-scrollbar {
                        width: 0px;
                    }
                }

                &.title {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    ::-webkit-scrollbar {
                        width: 0px;
                    }
                }
            }

            &.guests .title>span:last-child {
                font-family: cereal;
                color: $clr3;
            }

        }

        .glass {
            background-color: $clr1;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            padding: 10px;
            display: flex;
            margin: auto auto;
            margin-inline-end: 10px;
            font-family: airbnb_medium;

            img {
                width: 12px;
                object-fit: contain;
                position: relative;
            }
        }

    }


    &.open {
        width: 100%;
        height: em(70px);
        position: absolute;
        top: em(70px);
        right: 0;
        z-index: 4;
        display: flex;
        justify-content: center;

        .search {
            background-color: lighten($clr4, 5%);
            margin-block-end: 12px;
            padding: 0px;
            z-index: 3;
            position: relative;
            transform: translateY(12px);
            box-shadow: none;
            flex-grow: 1;
            max-width: 850px;

            >button {

                &:not(:last-of-type) {
                    padding-block: 14px;
                }

                label {
                    text-align: start;
                }

                &.location {
                    padding: 14px 32px;
                    width: 100%;
                    align-items: start;

                    &:hover {
                        @include filter-hover
                    }

                    &.active-locations {
                        @include filter-focus
                    }

                    >div {
                        padding-inline-start: 0;


                        label {
                            padding-block-end: 2px;
                        }

                        input {
                            width: 150px;
                        }
                    }
                }

                &.dates {
                    padding: 14px 24px;
                    position: relative;
                    // z-index: 5;

                    &:hover {
                        @include filter-hover
                    }

                    &::before {
                        transform: translateX(-26px);
                    }

                    &::after {
                        transform: translate(240px, -4px);
                    }

                    &::before,
                    &::after {
                        content: '';
                        height: 40px;
                        width: 1px;
                        background-color: $clr4;
                        z-index: 0;
                        position: absolute;
                    }

                    .from::after {
                        content: '';
                        height: 40px;
                        width: 1px;
                        background-color: $clr4;
                        z-index: 0;
                        position: absolute;
                        transform: translate(90px, -4px);
                    }

                    .to {
                        padding-inline-end: 0;
                    }
                    
                    &.active-dates {
                        @include filter-focus;

                        &::after {
                            opacity: 0;
                        }
                    }

                    >* {
                        max-width: em(132px);
                        border-left: none;
                        z-index: 1;
                    }
                }

                &.guests {
                    padding-inline: 0;
                    position: relative;

                    &:hover {
                        @include filter-hover
                    }

                    &.active-guests {
                        @include filter-focus
                    }

                    >div {
                        padding-inline-start: 2rem;
                        color: $clr3;
                        font-family: cereal;
                        border-left: none;

                        label {
                            color: $clr2;
                            font-family: airbnb_bold;
                        }
                    }

                    .title {
                        border-left: solid 1px $clr4;
                    }

                    .glass {
                        padding: 24px 16px;
                        width: fit-content;
                        border-radius: 30px;
                        color: $clr6;
                        font-size: rem(16px);
                        background: radial-gradient(circle at -50%, #FF385C 0%, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
                        background-size: 200% 200%;
                        transition: opacity 1.25s;

                        &:hover {
                            background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
                            --mouse-x: 1.87891;
                            --mouse-y: 85.4167;
                        }

                        img {
                            width: 16px;
                        }

                        span {
                            padding-inline: 8px 4px;
                        }
                    }
                }
            }



        }


    }


    .search-details-page {
        width: 300px;
        margin: -1px 18px;
        padding-inline-start: 10px;
        padding-block: 7px;

        border-radius: 50px;
        border: solid 1px $clr4;
        box-shadow: 0px 1px 2px 0px $clr4;
        transition: box-shadow ease-in-out 250ms;

        &:hover {
            box-shadow: 0px 1px 3px 1px $clr4;
        }

        input {
            background-color: transparent;
            border: none;
            font-size: rem(14px);
            font-family: airbnb_bold;
            color: $clr2;
            margin-inline-start: 10px;
        }

        .glass {
            background-color: $clr1;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            padding: 10px;
            display: flex;
            margin: auto auto;
            margin-inline-end: 10px;
            font-family: airbnb_medium;

            img {
                width: 12px;
                object-fit: contain;
                position: relative;
            }
        }
    }

    @include for-mobile-layout {
        // TODO: search bar - 100% width - Anywhere etc.. 
        // on click opens modal with different filters one after the other
    
        // menu appears at bottom with :
        // Explore - Wishlists - Login
        // and when logged in : 
        // Explore - Wishlists - Trips - Inbox - Profile
        // this menu disappears when starting to scroll ~150px
    }


}