.sub-search {
    gap: 22px;
    font-family: cereal;
    font-size: 1rem;
    font-weight: 300;
    // margin-inline-end: -74px;

    a {
        padding: 5px;

        &:after {
            display: block;
            content: '';
            border-bottom: solid 2px $clr3;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }

        &:hover {
            color: $clr3;

            &:after {
                transform: scaleX(1);
            }
        }
    }
}

.search-container {

    .search {
        display: flex;
        width: fit-content;
        margin: -1px 18 px;
        padding-inline-start: 10px;
        padding-block: 7px;

        border-radius: 50px;
        border: solid 1px $clr4;
        box-shadow: 0px 1px 2px 0px $clr4;

        // position: absolute;
        // left: 49vw;
        // translate: -50%;
        // z-index: 3;
        transition: box-shadow ease-in-out 250ms;

        @include for-medium-layout {
            margin-inline: rem(20px);
        }

        &:hover {
            box-shadow: 0px 1px 3px 1px $clr4;
        }

        button {
            background-color: transparent;
            color: $clr2;

            >div {
                padding-inline: 1rem;
                font-size: 14px;
                font-family: airbnb_medium;
                margin: auto;

                &.open {
                    align-items: start;
                    padding-inline: 1rem;
                }

                label {
                    font-size: 12px;
                    font-family: airbnb_bold;
                }

                input,
                .sub-title {
                    background-color: transparent;
                    border: none;
                    font-family: cereal;
                    font-size: 14px;
                    width: 100px;

                    &:focus {
                        border: none;
                        outline: none;
                    }
                }

                .sub-title {
                    color: $clr3;
                    text-align: start;
                }
            }

            &.location input {
                width: 150px;
            }

            &.dates div:first-child {
                border-left: solid 1px $clr4;
            }

            &.guests {
                .title {
                    border-left: solid 1px $clr4;
                }

                >div {
                    padding-inline-start: 1rem;
                    color: $clr3;
                    font-family: cereal;

                    label {
                        color: $clr2;
                        font-family: cereal;
                    }
                }
            }
        }

        .glass {
            background-color: $clr1;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            padding: 10px;
            display: flex;
            margin: auto auto;
            margin-inline-end: 10px;
            font-family: airbnb_medium;

            img {
                width: 12px;
                object-fit: contain;
                position: relative;
            }
        }

    }

    &.open {
        width: 100%;
        height: em(70px);
        position: absolute;
        top: em(70px);
        right: 0;
        // margin-inline-start: -100px;
        z-index: 4;
        display: flex;
        justify-content: center;

        .search {
            background-color: lighten($clr4, 8%);
            margin-block-end: 12px;
            padding-block: 0px;
            z-index: 3;
            position: relative;

            >button {
                padding-block: 14px;

                &.location {
                    padding-inline-start: 24px;
                }

                &.dates {
                    padding-inline: 24px;
                    position: relative;

                    .to {
                        border-left: solid 1px $clr4;
                    }
                }

                &.guests {
                    padding-inline: 0;
                    position: relative;

                    .who {
                        border-left: solid 1px $clr4;
                    }
                }
            }

            .glass {
                background: radial-gradient(circle at -50%, #FF385C 0%, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
                padding: 24px 16px;
                width: fit-content;
                border-radius: 30px;
                color: $clr6;
                font-size: 16px;

                &:hover {
                    background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
                    --mouse-x: 1.87891;
                    --mouse-y: 85.4167;
                }

                img {
                    width: 16px;
                }

                span {
                    padding-inline: 8px 4px;
                }
            }

        }
    }

}