.stay-list {
    list-style: none;
    // padding: 0px 80px;
    margin: 0px 0px 20px;
    display: grid;
    gap: 25px;
    width: 100%;
    // height: 100vh;

    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    
    @include for-medium-layout{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  
    }
    @include for-narrow-layout{
        // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));  
    }
    @include for-medium-layout{
        // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
    }
   
    // @include width-padding-mqs;
}