.stay-preview {
    display: grid;
    // background-color: $clr2;
    align-content: center;
    justify-items: start;
    color: $clr2;
    // padding: 5px;
    // margin: 5px;
    // background-image: url('/src/assets/imgs/1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    width: 200;
    border-radius: 20px;
}
p{
    // color: palevioletred;
    // margin-top: -30px;
}
.img-container{
    margin-top: 100px;
    position: relative;
    display: inline-block;
    height: 410px;
    width: 430px;
    .stay-img{
        margin-top: 30px;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
        object-fit: cover;
    
    }
    .fa-heart {
        position: absolute;
        top: 52px;
        right: 26px;
        font-size: 30px;
        color: $clr4;
        z-index: 1;   
    }
}
.preview-txt{
margin-top: 15px;


}
.first-line{
    color: aqua;
    margin-top: 30px;
}
.regular-font{
    font-family: CircularLight
}
