.stay-preview {
    // display: grid;
    // background-color: $clr2;
    align-content: center;
    justify-items: start;
    color: $clr2;
    // padding: 5px;
    // margin: 5px;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.img-container {
    margin-top: 30px;
    position: relative;

    // display: inline-block;
    // height: 300px;
    // width: 320px;
    &:hover .el-carousel__arrow {
        background-color: $clr4;
        color: $clr2;
    }

    .stay-img {
        // margin-top: 30px;
        border-radius: 17px;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
        object-fit: cover;
    }

    .fa-heart {
        position: absolute;
        height: 21px;
        margin: -2px 0px 0px;
        padding: 2px 0px 0px;
        background-color: transparent;
        transition: transform 0.25s ease;
        top: 12px;
        right: 12px;
        font-size: 21px;
        color: $clr4;
        z-index: 1;

    }
}

.preview-txt {

    p {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

}

.el-carousel__button {
    width: 6px;
    height: 6px;
    border-radius: 50%;

}