.stay-preview {
    align-content: center;
    justify-items: start;
    margin-left: -10px;
    color: $clr2;
    height: 100%;
    width: 100%;
    cursor: pointer;
    margin-bottom: -10px;
}

.img-container {
    margin-top: 26px;
    position: relative;
    margin-bottom: 12px;

    &:hover .el-carousel__arrow {
        background-color: $clr4;
        color: $clr2;
    }

    .stay-img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
        object-fit: cover;
    }
    .remove-stay{
        position: absolute;
        color: $clr2;
        height: 30px;
        margin: 3px ;
        padding: 3px;
        top: 15px;
        left: 15px;
        border: 1px solid $clr2;
        font-size: 21px;
        opacity: 1.5;
        z-index: 1;
    }

    .fa-heart {
        position: absolute;
        height: 21px;
        margin: -2px 0px 0px;
        padding: 2px 0px 0px;
        background-color: transparent;
        transition: transform 0.25s ease;
        top: 12px;
        right: 12px;
        font-size: 21px;
        opacity: 0.6;
        -webkit-text-fill-color: $clr3;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $clr4;
        z-index: 1;

    }
}
 .update-btn{
    color: #252525;
    border: 1px solid $clr2;
}
.rating {
    float: right;
}

.preview-txt {
    p {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    .fa-star {
        font-size: 11px;
    }

}

.el-carousel__button {
    width: 6px;
    height: 6px;
    border-radius: 50%;

}