.stay-list {
    margin: 5px 0px 20px;
    display: grid;
    gap: 25px;
    // width: 100%;
    // height: 100%;


    // @include for-mobile-layout{
    //     grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
    //     // grid-auto-flow: column;
    //     // min-width: 85px;
    //     // min-height: 81px;
    // }

    @include for-narrow-layout {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    // @include for-medium-layout {
    //     grid-template-columns: repeat(4,1fr);
    // }

    @include for-normal-layout {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include for-wide-layout {
        grid-template-columns: repeat(4, minmax(0, 1fr));

    }
}