.stay-list {
    list-style: none;
    padding: 0px 40px;
    margin: 16px 0px 40px;
    display: grid;
    // grid-auto-flow: row dense;
    // grid-auto-rows: 5;
    // grid-auto-rows: 4, minmax(min-content, max-content);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    @include for-medium-layout{
        // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));  
    }
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 10px;
    // .stay-img{
    //     background-image: url('/src/assets/imgs/1.jpg');
    //     background-repeat: no-repeat;
    //     background-size: 100% 100%;
    //     border-radius: 20px;
    // }
    a {
        color: $clr1;
        padding: 10px;
    }
    pre {
        background-color: #ddd;
        font-size: .5em;
        color: #333;
        padding: .2em;
        margin: .2em;
    }
}