.stay-edit {

    >div:first-child {
        margin-top: 20px;
        text-align: center;

        .editTitle {
            color: $clr1;
            font-family: airbnb_medium;
            box-sizing: border-box;
            font-size: 2.5rem
        }

        .editSecondLine {
            font-family: airbnb_medium;
            font-size: 2.5rem
        }

        .money {
            font-family: airbnb_medium;
            font-size: 4rem
        }

        .estimated {

            font-family: airbnb_book;
            font-size: 1rem;
            margin-bottom: 28px;

            .nights {
                font-family: airbnb_medium;
                text-decoration: underline black;
            }
        }

        .estimate {
            font-size: 1rem;
            font-family: airbnb_medium;
            text-decoration: underline black;
        }

        .el-slider {
            width: 150%;
            margin-left: -50px;

            .el-slider__button {
                color: rgb(40, 62, 62);
                border: solid 1px black;
                background-color: black
            }

            .el-slider__runway {
                background: #DDDDDD;

            }

            .el-slider__bar {
                background-color: black;

            }

        }
    }

    button.save-stay {
        background-color: $clr1;
        padding: 5px;
        border-radius: 5px;
    }
}