.stay-list {
    // margin: 5px 0px 20px;
    display: grid;

    grid-gap: $row-gap $col-gap;
    grid-auto-rows: minmax(min-content, max-content);
    grid-auto-flow: row dense;


    @include for-mobile-layout {
        grid-template-columns: minmax(0, repeat(2, 1fr));
        // grid-template-columns: repeat(2, minmax(0, 1fr))    
    }

    @include for-mobile-layout-min {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    @include for-narrow-layout {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }

    @include for-normal-list-layout  {
        grid-template-columns: repeat(5, minmax(0, 1fr))
    }

    @include for-wide-layout {
        grid-template-columns: repeat(6, minmax(0, 1fr))
    }
}