.user-profile {

    nav ul.user-menu {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
        margin-block: em(10px);
        box-shadow: 0px 0px -2px 0px $clr4;
        
        >a {
            display: block;
            width: 100%;
            text-align: center;

            &:not(:last-child) {
                border-right: solid 1px $clr4;
            }
        }
    }

}