button {
    border:0;
    background-color: transparent;
    // color:whitesmoke;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

// form > * {
//     display: block;
//     width: 200px;
//     margin: 10px 0px;
// }