.my-layout {
    padding: 0;
    display: grid;


    @media (min-width: 2600px) {
        max-width: 2600px;
        margin: auto;

        >*:not(.full) {
            max-width: 2420px;
        }
    }

    >* {
        grid-column: 2;
        width: 100%;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-mobile-layout {
        @include layoutGTC($break-mobile, $small_padding-inline);
    }

    @include for-mobile-layout-min {
        @include layoutGTC($break-narrow, $medium_padding-inline);
    }

    @include for-narrow-layout {
        @include layoutGTC($break-medium, $medium_padding-inline);
    }

    @include for-medium-layout {
        @include layoutGTC($break-normal, $medium_padding-inline);
    }

    @include for-normal-layout {
        @include layoutGTC($break-normal-list, $large_padding-inline);
    }

    @include for-normal-list-layout {
        @include layoutGTC($break-normal-list, $large_padding-inline);
    }

    @include for-wide-layout {
        @include layoutGTC($break-wide, $large_padding-inline);
    }

    @include for-extra-wide-layout {
        @include layoutGTC($max-middle-width, $large_padding-inline);
    }

    &.narrow {
        @include for-mobile-layout {
            @include layoutGTC($break-mobile, $medium_padding-inline);
        }

        @include for-mobile-layout-list {
                @include layoutGTC($break-mobile-list, $small_padding-inline);
        }


        @include for-mobile-layout-min {
            @include layoutGTC($break-medium, $medium_padding-inline);
        }

        @include for-medium-layout {
            @include layoutGTC($break-normal, $large_padding-inline);
        }

        @include for-normal-layout {
            @include layoutGTC($break-normal, calc(2 * $large_padding-inline));
        }
    }

}