* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: airbnb_book;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: airbnb_bold;
    margin: 0 0 0.6em;
    line-height: 1;
}

// img {
//     width: 100%;
// }

p {
    margin: 0 0 1em;
    max-width: 40ch;
}

a {
    text-decoration: none;
    cursor: pointer;
}
// a:hover {
    // text-decoration: underline;
// }
.container-home{

}
