.my-layout {
    padding: 0;
    display: grid;


    @media (min-width: 2600px) {
        max-width: 2600px;
        margin: auto;

        >*:not(.full) {
            max-width: 2420px;
        }
    }

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    &.narrow {
        @include for-mobile-layout-min {
            @include layoutGTC($break-mobile, calc(2 * $layoutPaddingLarge));
        }

        @include for-narrow-layout {
            @include layoutGTC($break-narrow, calc(2 * $layoutPaddingLarge));
        }

        @include for-normal-layout {
            @include layoutGTC($break-normal, calc(2 * $layoutPaddingLarge));
        }
    }

    &.regular {
        padding: 0;
    }

    @include for-mobile-layout {
        @include layoutGTC($break-mobile, $layoutPaddingSmall);
    }

    @include for-mobile-layout-min {
        @include layoutGTC($break-mobile, $layoutPadding);
    }

    @include for-narrow-layout {
        @include layoutGTC($break-narrow, $layoutPadding);
    }

    @include for-normal-layout {
        @include layoutGTC($break-normal, $layoutPaddingLarge);
    }

    @include for-normal-list-layout {
        @include layoutGTC($break-normal-list, $layoutPaddingLarge);
    }

    @include for-wide-layout {
        @include layoutGTC($break-wide, $layoutPaddingLarge);
    }

}