.my-layout {
    padding: 0;
    display: grid;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    // &.narrow {}

    @include for-mobile-layout {
        @include layoutGTC($break-mobile, $layoutPaddingSmall);
    }

    @include for-mobile-layout-min {
        @include layoutGTC($break-mobile, $layoutPadding);
    }

    @include for-narrow-layout {
        @include layoutGTC($break-narrow, $layoutPadding);
    }

    @include for-normal-layout {
        @include layoutGTC($break-normal, $layoutPadding);
    }

    @include for-wide-layout {
        @include layoutGTC($break-wide, $layoutPaddingLarge);
    }

}