/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: $break-mobile) {
        @content;
    }
}

@mixin for-mobile-layout-min {
    @media (min-width: $break-mobile) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
        @content;
    }
}

@mixin for-medium-layout {
    @media (min-width: $break-medium) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}
@mixin for-normal-list-layout {
    @media (min-width: $break-normal-list) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}

@mixin layoutGTC($max, $padding) {
    grid-template-columns:
        minmax($padding, 1fr) 
        minmax(auto, $max) 
        minmax($padding, 1fr) ;
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        width: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}


@mixin filter-focus {
    background-color: $clr6;
    border-radius: 50px;
    margin: -1px;
    box-shadow: 0 6px 20px darken($clr4, 10%);
    z-index: 1;
    position: relative;
}
@mixin  filter-hover {
    background-color: $clr4;
    border-radius: 50px;
    box-shadow: none;
    z-index: 1;
    position: relative;
}

