/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: $break-mobile) {
        @content;
    }
}

@mixin for-mobile-layout-min {
    @media (min-width: $break-mobile) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
        @content;
    }
}

@mixin for-medium-layout {
    @media (min-width: $break-medium) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}

@mixin layoutGTC($max, $padding) {
    grid-template-columns:
        minmax($padding, 1fr) 
        minmax(auto, $max) 
        minmax($padding, 1fr);
}

@mixin for-grid-mobile-layout {
    @media (max-width: calc($mobile-breakpoint)) {
        @content;
    }
}

@mixin for-grid-narrow-layout {
    @media (min-width: calc($grid-mobile-breakpoint)) {
        @content;
    }
}

@mixin for-grid-medium-layout {
    @media (min-width: calc($grid-narrow-breakpoint)) {
        @content;
    }
}

@mixin for-grid-normal-layout {
    @media (min-width: calc($grid-medium-breakpoint)) {
        @content;
    }
}

@mixin for-grid-wide-layout {
    @media (min-width: calc($grid-normal-breakpoint)) {
        @content;
    }
}

@mixin for-grid-extra-wide-layout {
    @media (min-width: calc($grid-large-breakpoint)) {
        @content;
    }
}



/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        height: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

// @mixin width-padding-mqs {
//     width: 100%;
//     max-width: 2520px;

//     @include for-mobile-layout {
//         padding-inline: rem(24px);
//     }

//     @include for-narrow-layout {
//         padding-inline: rem(40px);
//     }

//     @include for-medium-layout {
//         padding-inline: rem(40px);
//     }

//     @include for-normal-layout {
//         padding-inline: rem(40px);
//     }

//     @include for-wide-layout {
//         padding-inline: rem(80px);
//         padding-inline-end: rem(85px);
//     }
// }