@font-face {
    font-family: montserrat;
    src: url('src/assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: montserrat_medium;
    src: url('src/assets/fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: montserrat_bold;
    src: url('src/assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: montserrat_semibold;
    src: url('src/assets/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: cereal;
    src: url('src/assets/fonts/AirbnbCereal-Book.ttf');
}
@font-face {
    font-family: airlight;
    src: url('src/assets/fonts/CircularAir-Light.ttf');
}
@font-face {
    font-family: airbnb_bold;
    src: url('src/assets/fonts/Airbnb_Cereal-Bold.ttf');
}
