@font-face {
    font-family: Circular;
    src: url('src/assets/fonts/CircularStd-Medium.ttf');
}
@font-face {
    font-family: CircularLight;
    src: url('src/assets/fonts/CircularStd-Book.ttf');
}
// @font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }