@font-face {
    font-family: montserrat;
    src: url('src/assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: montserrat_medium;
    src: url('src/assets/fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: montserrat_bold;
    src: url('src/assets/fonts/Montserrat-Bold.ttf');
}
