// Colors
$clr1: #FF385C;
$clr2: #222222;
$clr3: #717171;
$clr4: #dedede;
$clr5: #f7f7f7;
$clr6: #fff;

// Breakpoints
$grid-mobile-breakpoint: 550px;
$grid-narrow-breakpoint: 950px;
$grid-medium-breakpoint: 1128px;
$grid-normal-breakpoint: 1640px;
$grid-large-breakpoint : 1880px;

// //Paddings
// $small_padding-inline: 24px;
// $medium_padding-inline: 40px;
// $large_padding-inline: 80px;
$break-mobile: 750px;
$break-narrow: 950px;
$break-medium: 1130px;
$break-normal: 1400px;
$break-normal-list: 1630px;
$break-wide: 1720px;

$layoutPadding: 40px;
$layoutPaddingSmall: 24px;
$layoutPaddingLarge: 80px;

$row-gap: 40px;
$col-gap: 24px;

// $break-grid-col: 1;

// @include for-grid-narrow-layout {
//     $break-grid-col: 2;
// }

// @include for-grid-medium-layout {
//     $break-grid-col: 3;
// }

// @include for-grid-normal-layout {
//     $break-grid-col: 4;
// }

// @include for-grid-wide-layout {
//     $break-grid-col: 5;
// }

// @include for-grid-extra-wide-layout {
//     $break-grid-col: 6;
// }