// Colors
$clr1: #FF385C;
$clr2: #222222;
$clr3: #717171;
$clr4: #dedede;
$clr5: #f7f7f7;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 710px;
$medium-breakpoint: 1128px;
$normal-breakpoint: 1400px;