// Colors
$clr1: #FF385C;
$clr2: #222222;
$clr3: #717171;
$clr4: #dedede;
$clr5: #f7f7f7;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 735px;
$narrow-breakpoint: 950px;
$medium-breakpoint: 1128px;
$normal-breakpoint: 1400px;

//Paddings
$small_padding-inline: 24px;
$medium_padding-inline: 40px;
$large_padding-inline: 80px;