@font-face {
    font-family: montserrat;
    src: url('/Montserrat-Regular.ttf');
}
@font-face {
    font-family: montserrat_medium;
    src: url('/Montserrat-Medium.ttf');
}
@font-face {
    font-family: montserrat_bold;
    src: url('/Montserrat-Bold.ttf');
}
@font-face {
    font-family: montserrat_semibold;
    src: url('/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: cereal;
    src: url('/AirbnbCereal-Book.ttf');
}
@font-face {
    font-family: airlight;
    src: url('/CircularAir-Light.ttf');
}
@font-face {
    font-family: airbnb_book;
    src: url('/Airbnb_Cereal-Book.ttf');
}
@font-face {
    font-family: airbnb_bold;
    src: url('/Airbnb_Cereal-Bold.ttf');
}
@font-face {
    font-family: airbnb_medium;
    src: url('/Airbnb_Cereal-Medium.ttf');
}
