@font-face {
    font-family: montserrat;
    src: url('src/assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: montserrat_medium;
    src: url('src/assets/fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: montserrat_bold;
    src: url('src/assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: montserrat_semibold;
    src: url('src/assets/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: cereal;
    src: url('https://res.cloudinary.com/didkfd9kx/raw/upload/v1680565259/AirbnbCereal-Book_iycbbj.ttf');
}
@font-face {
    font-family: airlight;
    src: url('https://res.cloudinary.com/didkfd9kx/raw/upload/v1680565259/CircularAir-Light_bxxrif.ttf');
}
@font-face {
    font-family: airbnb_book;
    src: url('https://res.cloudinary.com/didkfd9kx/raw/upload/v1680565258/Airbnb_Cereal-Book_azbbas.ttf');
}
@font-face {
    font-family: airbnb_bold;
    src: url('https://res.cloudinary.com/didkfd9kx/raw/upload/v1680565259/Airbnb_Cereal-Bold_mqmbdw.ttf');
}
@font-face {
    font-family: airbnb_medium;
    src: url('https://res.cloudinary.com/didkfd9kx/raw/upload/v1680565258/Airbnb_Cereal-Medium_dnwc9q.ttf');
}
