// Colors
$clr1: #FF385C;
$clr2: #222222;
$clr3: #717171;
$clr4: #dedede;
$clr5: #f7f7f7;
$clr6: #fff;

// Breakpoints
$grid-mobile-breakpoint: 550px;
$grid-narrow-breakpoint: 950px;
$grid-medium-breakpoint: 1128px;
$grid-normal-breakpoint: 1640px;
$grid-large-breakpoint : 1880px;

// //Paddings
$small_padding-inline: 24px;
$medium_padding-inline: 40px;
$large_padding-inline: 80px;

// Breakpoints
$break-mobile-list: 550px;
$break-mobile: 750px;
$break-narrow: 950px;
$break-medium: 1128px;
$break-normal: 1440px;
$break-normal-list: 1640px;
$break-wide: 1720px;
$break-wide-list: 1880px;

$max-middle-width: 2360px;

$row-gap: 40px;
$col-gap: 24px;